/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	/* colors */
	--clr-neutral-100: #fafafa;
	--clr-neutral-200: #e5e5e5;
	--clr-neutral-400: #a3a3a3;
	--clr-neutral-500: #737373;
	--clr-neutral-700: #404040;
	--clr-neutral-900: #171717;

	--clr-accent-500: #efb7a6;
	--clr-accent-800: #8f617d;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Global Styles */
html,
body {
	height: 100%;
}

html {
	background-image: linear-gradient(
		150deg,
		var(--clr-accent-500) 50%,
		var(--clr-accent-800)
	);
}

body {
	display: grid;
  padding-top: 5rem;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: var(--clr-neutral-900);
}

.section-center {
	width: min(90vw, 800px);
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-weight: 400;
	line-height: 1.2;
	text-transform: capitalize;
}

h1 {
	margin-top: 0;
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
	color: var(--clr-neutral-900);
	margin-bottom: 1.5rem;
}

h3 {
	font-size: 1.75rem;
}

ul {
	list-style: none;
	padding: 0;
}

.img {
	width: 100%;
	display: block;
	object-fit: cover;
}

/* Navigation & btn-container */
.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
  position: relative;
}


.tab-btn {
  display: flex;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
	font-size: 2rem;
	opacity: 0.5;
	color: var(--clr-neutral-100);
	transition: all ease-in 0.3s;
	position: relative;
}

.tab-btn:hover,
.tab-btn:focus,
.tab-btn.active {
  opacity: 1;
}

.tab-btn.active::after {
  content: '';
  width: 45px;
  height: 45px;
  background-color: var(--clr-neutral-100);
  transform: rotate(45deg);
  position: absolute;
  bottom: -3.5rem;
  right: -0.4rem;
  z-index: -1;
}

/* Content */

.content {
	background: var(--clr-neutral-100);
	color: var(--clr-neutral-500);
	margin-block: 2rem 2.5rem;
	box-shadow: var(--shadow-3);
}

/* Home */
.content-home {
	display: grid;
}

.about {
	display: none;
	padding-inline: 2rem;
}

.about h1 {
	color: var(--clr-neutral-900);
}

.about-img {
	width: 100%;
	height: 250px;
	margin-inline: auto;
}

@media (min-width: 40em) {
	.content-home {
		grid-template-columns: 1fr auto;
	}

	.about {
		display: block;
		display: grid;
		align-content: center;
	}

	.about-img {
		height: auto;
	}
}

/* Work */
.work {
	padding: 2rem;
}

.work-gallery {
	margin-top: 0.75rem;
	padding: 0 2rem 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1.25rem;
}

/* Contact */
.contact {
	padding: 2rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

input,
textarea {
	padding: 1rem;
	background-color: var(--clr-neutral-200);
	border: none;
	color: var(--clr-neutral-700);
}

textarea {
	height: 150px;
}

.submit-btn {
	max-width: fit-content;
}

@media (min-width: 40em) {
	.form-row {
		flex-direction: row;
	}

	.form-row > * {
		width: 100%;
	}
}

/* Footer */
.footer-info {
	color: var(--clr-neutral-100);
	font-size: 0.875rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	gap: 0.25rem;
	margin-top: 2rem;
}

.footer-info a {
	color: var(--clr-neutral-100);
	opacity: 1;
}

@media (min-width: 30em) {
	.footer-info {
		flex-direction: row;
		gap: 1rem;
	}
}

/* Social */
.social {
	padding: 2rem;
}

.social-links-list {
	display: flex;
	gap: 1rem;
}

.social-links-list a {
	font-size: 1.5rem;
	color: var(--clr-neutral-500);
	transition: all ease 0.3s;
}

.social-links-list a:hover,
.social-links-list a:focus {
	color: var(--clr-accent-500);
}

/* Buttons */
.btn {
	cursor: pointer;
	color: var(--clr-neutral-100);
	background: var(--clr-neutral-900);
	border: transparent;
	padding: 0.75rem 1.25rem;
	box-shadow: var(--shadow-1);
	transition: all ease 0.3s;
	text-transform: capitalize;
	display: inline-block;
}

.btn:hover {
	background: var(--clr-accent-800);
}

/* Utilities */
.content {
	display: none;
}

.active {
	display: block;
}

.content-home.active {
	display: grid;
}
